#container{
  background-color: rgb(23, 23, 23);
  display: grid;
  grid-template-areas: 
  'header header header header'
  'operator opertaor operator operator'
  'main main main side'
  'main main main side'
  'main main main side'
  'main main main side';
  width: 70vw;
  height: 80vh;
}


#container.screen{
  grid-area: header;
  color: black;
}


#even-equal{
  grid-area: side;
}
