
#container{
display: grid;
grid-template-areas:
"header header header header"
"operator operator operator operator"
"main main main side"
"main main main side"
"main main main side"
"main main main side";
/* width: 70vw;
height: 70vh; */
border: 3px solid black;
cursor: help;
}
 

#input_screen{
  grid-area: header;
  height:15vh;
  font-size: xx-large;
  padding: 5vw;
  border-bottom: 2px solid black;
  
}

#shave{
  grid-area: side;
  background-color: coral;
  display: flex;
  align-items: center;
}
/* .btn{
  display: flex;
  justify-content: center;
  font-size: xx-large;
} */